html{
	overflow-y: scroll;
}
body{
	padding: 0;
	margin: 0;
}
nav {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: end;
}
#content {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 86vh;
}

#navMain{
	height: 80px;
	background-color: hsl(0, 0%, 50%);
}

#navMain > button{
	width: 200px;
	border: 0px;
	font-weight: 1000;
}

.divTitle{
	flex-basis: 65%;
	display: flex;
	flex-flow: row;
	justify-self: start;
}

.divTitle > p{
	font-weight: 700;
	font-size: 20px;
	justify-self: center;
	align-self: center;
}

.colorGray{
	background-color: hsla(0, 0%, 50%,1);
}
.colorGrayHalf{
	background-color: hsla(0,0%,25%,.5);
}
.colorWhite{
	background-color: hsla(0, 100%, 100%, 1);
}

.divHeader{
	display: flex;
	justify-content: center;
}

.divBG{
	width: clamp(99vw,99vw,100vw);
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px -240px;
}

.sectionPromos{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	margin-bottom: 60px;
	height: 400px;
}
.divPromos{
	height: 100%;
	width: 60%;
	display: flex;
	flex-flow: column;
}
.divPromoItems{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	padding: 0px 100px 0px 100px;
}
.sectionNormal{
	display: flex;
	height: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.sectionTitle > h1{
	font-weight: 700;
	font-size: 48px;
}
.sectionOpen > p{
	font-weight: 700;
	font-size: 192px;
}
.sectionContactTitle{
	margin-top: 60px;
	padding: 20px 40px;
}
.sectionContactTitle > p{
	font-weight: 700;
	font-size: 64px;
}
.sectionAdd{
	font-size: 48px;
	font-weight: 700;
}
h2{
	font-size: 40px;
	justify-self: center;
	align-self: center;
}
.divPromoItemImage{
	width: 200px;
	height: 200px;
	background-image: url('./menu-items/images/pizza-dish.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.divPromoItemTitle{
	font-size: 20px;
	font-weight: 700;
}
.divPage{
	padding-top: 80px;
}
.divContactUs{
	margin-top: 40px;
	width: 400px;
	display: flex;
	flex-flow: column;
}
#aIcons8{
	display: flex;
	justify-content: center;
	gap: 4px;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: hsl(0,0%,50%);
}